.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
input{
  padding:0.5rem;
  margin:1rem;
  text-align: left;
  min-width: 15rem;

}
table{
  background-color: black;
  margin:1rem;
}
td,th{
  padding:1rem;
  border:2px solid;
  margin:0;
  background-color: white;
}
th{
  cursor: pointer;
}
th:hover{
  background-color: whitesmoke;
}